body {
    background-color: white;
}

#slideshow {
    height: 100%;
    position: relative;
    width: 100%;
    overflow: auto;
}

#overlay {
    background-color: black;
    opacity: 1;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 9000;
    position: absolute;
    color: white;
    font-size: 2em;
    text-align: center;
    padding-top: 50px;
}

.overlay-content {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.slides {
    overflow: auto;
}

.slide {
    height: 100%;
    position: relative;
    display: none; 
}

.slide:first-child {
    display: block;
}

.slide img {
    display: block;
    margin: 0 auto;
}

.slide.fitWidth img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.slide.fitHeight img {
    height: 100%;
    max-height: 100%;
    width: auto;
}

#slideshow .controls {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 5px;
    left: 0px;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}


.slide-control:hover,
.jump-to.current {
    cursor: pointer;
   /* background-color: #333;
    color: white;*/
}

.slide-control {
    display: block;
    width: 100px;
    height: 106px;
    background: url(../img/arrow.png) right center no-repeat;
    position: fixed;
    top: 50%;
    margin-top: -53px;
}


.slide-control.prev {
    left: 0;
}

.slide-control.next {
    right: 0;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

#show-controls-block {
    position: fixed;
    height: 100px;
    z-index: 9000;
    width: 100%;
    top: 0;
    left: 0;
}